table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 20%;
  line-height: 1.5cm;
  margin-top: 5%; }

th,
td {
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #fff; }

th {
  background-color: #4CAF50;
  color: #fff; }

tr:hover {
  background-color: #fff; }

.iconbtnedit {
  background-color: DodgerBlue;
  border: none;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 50px; }

.iconbtndelete {
  background-color: crimson;
  border: none;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 50px; }

/* Darker background on mouse-over */
.iconbtnedit:hover {
  background-color: RoyalBlue; }

.iconbtndelete:hover {
  background-color: crimson; }
