@import '../utils/variables.scss';
.container {
	width: 380px;
	margin:7% auto;
}
.header {
	text-align: center;
	padding-top: 75px;
}
.header h1 {
	color:$black;
	font-size: 45px;
	margin-bottom: 80px;
}
.main {
	text-align: center;
}
.main input, button {
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	margin-bottom: 40px;
}
.main button {
	padding-left: 0;
	background-color:$buttoncolor;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
}
.main button:hover {
	background-color:$buttonhover;
}
.main input:hover {
	background-color:$white;
}
.main span {
	position: relative;
}
.main i {
	position: absolute;
	left: 15px;
	color: rgb(187, 35, 35);
	font-size: 16px;
	top: 2px;
}
























