@import '../utils/variables.scss';

.container {
	max-width: 380px;
	margin: 7% auto;
}

.header {
  text-align: center;
}

.header h1 {
	color: $black;
	font-size: 45px;
	margin-bottom: 80px;
}

.main {
	text-align: center;
}

.main input,
button {
	max-width: 300px;
	min-height: 40px;
	border: none;
	outline: none;
	margin-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	margin-bottom: 40px;
	background-color: $inputcolor;
	position: relative;
}

.main button {
	padding-left: 0;
	background-color: $buttoncolor;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
	padding: 10px 20px;
}

.main button:hover {
	background-color: $buttonhover;
}

.main input:hover {
	background-color: $white;
}

.main span {
  position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: rgb(187, 35, 35);
	font-size: 16px;
	background: whitesmoke;
	height: 40px;
	width: 30px;
	padding-top: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

@mixin table-action-icons{
	color: #fff !important;
	margin-top: 10px;
	font-size: x-large;
	position: relative;
	right: 10px;
	bottom: 20px;
	left: inherit;
	background: none;
}
.iconbtnedit {
	background-color: $doggerblue !important;
	border: none;
	color: $white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
	height: 50px;
	width: 50px;

	.fas {
		@include table-action-icons;
	}
}

.iconbtndelete {
	background-color: $red !important;
	border: none;
	color: $white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
	height: 50px;
	width: 50px;

	.fas {
		@include table-action-icons;
	}
}

/* Darker background on mouse-over */
.iconbtnedit:hover {
	background-color: $blue;
}

.iconbtndelete:hover {
	background-color: $red;
}

@media screen and (max-width: 600px) {
	.main input {
		margin-right: 40px;
	}
}
