@import '../utils/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:'header header'
                      'sidebar main ' ;
  grid-template-columns: max-content;
}

header {
  z-index: 1;
  position: sticky;
  background: $black;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  grid-area: header;
  box-sizing: border-box;
}

.left_area h3 {
  color: $white;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: $cyanblue;
}

.sidebar {
  background: $black;
  top: 65px;
  position: sticky;
  width: fit-content;
  height: calc(100vh - 60px);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  grid-area: sidebar;

}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: $white;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: $white;
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding: 5px 40px 5px 30px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: $cyanblue;
}

.sidebar a:hover,
a:checked {
  background: $cyanblue;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: $white;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: $cyanblue;
}

label #sidebar_btn:hover {
  color: $cyanblue;
}

#check:checked~.sidebar {
  left: -185px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  width: 100%;
  padding: 10px 40px 10px 30px;
}

#check:checked~.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.main_content {
  grid-area: main;
}

.mobile_nav {
  display: none;
  grid-area: nav;

}


.card p {
  background: $white;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}
.active-menu{
  background-color: $doggerblue;
}
.book-img {
  width: 100%;
  max-height: $book-img-height;
  object-fit: cover;
  object-position: top;
}
.hidden {
  display: none;
}
/* Responsive CSS */
@media screen and (max-width: 780px) {
  body{
    grid-template-areas:'header'
                        'nav'
                        'main' ;
  grid-template-columns:  auto;
  }
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked~.content {
    margin-left: 0;
  }

  .mobile_nav {
    display: block;
    width: calc(100% - 0px);
    position: sticky;
    z-index: 1;
    top: 60px
  }

  .nav_bar {
    background: $black;
    width: calc(100% - 0px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: $white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: $cyanblue;
  }

  .mobile_nav_items {
    background: $black;
    display: none;
    width: 100%;
  }

  .mobile_nav_items a {
    color: $white;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: $cyanblue;
    font-size: 24px;

  }

  .mobile_nav_items a:hover {
    background: $cyanblue;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }
}