body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

header {
  z-index: 1;
  position: fixed;
  background: #22242a;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px; }

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900; }

.left_area span {
  color: #19b3d3; }

.sidebar {
  z-index: 1;
  top: 0;
  background: #22242a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto; }

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px; }

.sidebar .profile_info h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px; }

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: #19b3d3; }

.sidebar a:hover,
a:checked {
  background: #19b3d3; }

.sidebar i {
  padding-right: 10px; }

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: #19b3d3; }

label #sidebar_btn:hover {
  color: #19b3d3; }

#check:checked ~ .sidebar {
  left: -185px; }

#check:checked ~ .sidebar a span {
  display: none; }

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

#check:checked ~ .sidebar .profile_info {
  display: none; }

#check {
  display: none; }

.mobile_nav {
  display: none; }

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8; }

.book-img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  object-position: top; }

a.active-menu {
  background-color: #0087ff; }

/* Responsive CSS */
@media screen and (max-width: 780px) {
  .sidebar {
    display: none; }
  #sidebar_btn {
    display: none; }
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s; }
  #check:checked ~ .content {
    margin-left: 0; }
  .mobile_nav {
    display: block;
    width: calc(100% - 0px); }
  .mobile_nav_items a.active-menu {
    color: #f2c14e; }
  .nav_bar {
    background: #22242a;
    width: calc(100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color; }
  .nav_bar .nav_btn:hover {
    color: #19b3d3; }
  .mobile_nav_items {
    background: #22242a;
    display: none; }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: #19b3d3;
    font-size: 24px; }
  .mobile_nav_items a:hover {
    background: #19b3d3; }
  .mobile_nav_items i {
    padding-right: 10px; }
  .active {
    display: block; } }

/* Float four columns side by side */
.column {
  width: 30%;
  padding: 0 10px; }

.row {
  margin: 40px 0 5% 255px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  margin-top: 4vh; }

/* Responsive columns */
@media screen and (max-width: 600px) {
  .row {
    margin-left: auto; }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px; } }

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff; }

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 20%;
  line-height: 1.5cm;
  margin-top: 5%; }

th,
td {
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #fff; }

th {
  background-color: #4CAF50;
  color: #fff; }

tr:hover {
  background-color: #fff; }

/*responsive*/
@media (max-width: 1260px) {
  table thead {
    display: none; }
  table tbody {
    margin: auto; }
  table, table tbody, table tr, table td {
    display: block;
    width: 100%; }
  table tr {
    margin-bottom: 25px;
    border-bottom: 0.1em solid; }
  table td {
    width: 50%;
    text-align: right;
    position: relative; }
  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0px;
    width: 50%;
    padding-left: 15px;
    text-align: left;
    font-weight: bold; } }

@media (max-width: 1260px) and (max-width: 430px) {
  table td {
    width: 50%;
    text-align: right;
    position: inherit; } }

.container {
  width: 380px;
  margin: 7% auto; }

.header {
  text-align: center;
  padding-top: 75px; }

.header h1 {
  color: #22242a;
  font-size: 45px;
  margin-bottom: 80px; }

.main {
  text-align: center; }

.main input,
button {
  max-width: 300px;
  min-height: 40px;
  border: none;
  outline: none;
  margin-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 40px;
  background-color: #f5f5f5;
  position: relative; }

.main button {
  padding-left: 0;
  background-color: #83acf1;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 70px;
  padding: 10px 20px; }

.main button:hover {
  background-color: #7799d4; }

.main input:hover {
  background-color: #fff; }

.main span {
  position: relative; }

.main i {
  position: absolute;
  left: 15px;
  color: #bb2323;
  font-size: 16px;
  background: whitesmoke;
  height: 40px;
  width: 30px;
  padding-top: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

.iconbtnedit {
  background-color: DodgerBlue !important;
  border: none;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 50px; }
  .iconbtnedit .fas {
    color: #fff !important;
    margin-top: 10px;
    font-size: x-large;
    position: relative;
    right: 10px;
    bottom: 20px;
    left: inherit;
    background: none; }

.iconbtndelete {
  background-color: crimson !important;
  border: none;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 50px; }
  .iconbtndelete .fas {
    color: #fff !important;
    margin-top: 10px;
    font-size: x-large;
    position: relative;
    right: 10px;
    bottom: 20px;
    left: inherit;
    background: none; }

/* Darker background on mouse-over */
.iconbtnedit:hover {
  background-color: RoyalBlue; }

.iconbtndelete:hover {
  background-color: crimson; }

@media screen and (max-width: 600px) {
  .main input {
    margin-right: 40px; } }
