$cyanblue: #19b3d3;
$blue: RoyalBlue;
$doggerblue: DodgerBlue;
$bluelight:#0087ff;
$red: crimson;
$black: #22242a;
$white: #fff;
$green:#4CAF50;
$inputcolor: #f5f5f5;
$buttoncolor:#83acf1;
$buttonhover:#7799d4;
$book-img-height: 380px;
$gold: #f2c14e;

$bluebutton: #b7cee8;